language: node_js
services:
- mongodb
- redis-server
node_js:
- '0.10'
script: npm test
env:
  global:
  - PROVIDER_URL="http://localhost:8000"
  - ANYFETCH_API_ID="fake-app-id"
  - ANYFETCH_API_SECRET="fake-app-secret"
  - EVERNOTE_DOMAINROOT="https://sandbox.evernote.com"
  - EVERNOTE_API_ID="root127"
  - secure: ZjnJOqe1jhXG5XS+no7rtZ9znJ/ETDsjjMdh9DTGvcLR93cIsNn47E+hpJ4d693PM6WVnyhyz/EDuerHWaPcC0qVkNkvyGynluRagPsYmi6CwyGBdCifEP6ACA2O8Yh6YxuPdkko3G3kdQeV8gUwlAthj6V9RrQLIFJqR8mRqOI=
  - secure: p1J63GldsirySAy8OmQeVLoKfF/SlvxCrnB7E34Zxi6VZqRQ/Kg1l1L0JvfendynucNnEuFr4MV1zhvlPa55WJTQRqYF+agCs09lTC7Smb08BGhQttMHgnLbPW8KGlUMp2SyQUbP3wYehOJf6B5Rkb9I3qmPTCmXQzmdnu3IxtQ=
  - secure: EMNo8qviA6DwoCjs1zwvD0ip3rbC4XuaU6AMDlz/TJnkNAGLbHgdPEshdIyOL2SDEqD04CZWRSAa9wJJz0pU549M3Oj+1um0t4d8uL548y1xDdvJKa0JRkEm+z2YU5YleG1tx1uBJMV1ulHjOeYVFUc3xhICFnfWwRVkmj6DCpM=
